body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  user-select: none;
  font-family: sans-serif;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.theme-dark {
  background-color: #1e1e1e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Noto Sans, Malgun Gothic,
    Nanum Gothic, Dotom, Apple SD Gothic Neo, AppleGothic, Source Han Sans K, Source Han Sans JR, Source Han Sans,
    UnDotum, FBaekmuk Gulim, sans-serif;
  color: #cccccc;
}

.workbench-container {
  position: absolute;
}

.workbench {
  font-size: 13px;
  line-height: 1.4em;
  z-index: 1;
  overflow: hidden;
}

.composite {
  height: 100%;
}

.sidebar {
  background-color: #252526;
}

.nosidebar > .sidebar {
  display: none !important;
  visibility: hidden !important;
}

.sash {
  position: absolute;
  z-index: 10000;
}

.sash.vertical {
  cursor: ew-resize;
  height: 100%;
}

.sash.horizontal {
  cursor: ns-resize;
  width: 100%;
}

.title {
  box-sizing: border-box;
  background-color: #252526;
}

.editor-container {
  height: 100%;
}

.editor-container > .text-editor-container {
  height: 100%;
}

.editor-container > .resource-editor {
  display: flex;
  height: 100%;
}

.resource-editor > .image-view {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.statusbar {
  box-sizing: border-box;
  width: 100%;
  height: 22px;
  padding: 0 10px;
  background-color: #f2f2f2;
  color: #333333;
}

.statusbar > .statusbar-item {
  font-size: 11px;
  font-weight: 500;
  line-height: 22px;
  display: inline-block;
  cursor: default;
}

.statusbar > .statusbar-item.left {
  float: left;
}

.statusbar > .statusbar-item.right {
  float: right;
}

.audio-player {
  width: 100%;
  padding: 1em;
}

.audio-track {
  display: inline-block;
  width: 100%;
  height: 100px;
  position: relative;
}

.audio-track > .audio-button {
  position: absolute;

  width: 32px;
  height: 32px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  outline: none;
  cursor: pointer;
}

.audio-track > .audio-button.play {
  background-image: url('./media/play.svg');

  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.audio-track > .audio-button.pause {
  background-image: url('./media/pause.svg');

  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.audio-track > .audio-button.replay {
  background-image: url('./media/refresh_disabled.svg');

  top: 35px;
  left: 25%;
}

.audio-track > .audio-button.replay.active {
  background-image: url('./media/refresh.svg');
}

.audio-track > .audio-timeline:before {
  content: '';
  position: absolute;
  display: block;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 1);
}

.audio-track > .audio-timeline {
  position: absolute;
  display: block;
  top: 14px;
  left: 0;
  width: 100%;
  height: 21px;
  cursor: pointer;
}

.audio-track > .audio-timeline > .audio-progress {
  position: absolute;
  top: 10px;
  height: 1px;
  background-color: #00c6ff;
}

.audio-track > .audio-timeline > .audio-progress:before {
  content: '';
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  top: -4px;
  right: -4px;
  background-image: url('./media/circle.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.audio-track > .audio-duration {
  position: absolute;
  top: 37px;
  right: 1px;
  color: #ffffff;
}

.audio-track > .audio-elapsed {
  position: absolute;
  top: 37px;
  left: 2px;
  font-weight: bold;
  color: #ffffff;
}

.slider {
  background-color: rgba(127, 127, 127, 0.3);
}

.slider:hover {
  background-color: rgba(127, 127, 127, 0.5);
}

.slider.active {
  background-color: rgba(127, 127, 127, 0.7);
}

.scrollable-element {
  overflow: hidden;
}

.lines-content {
  overflow: hidden;
}

.tabs-container {
  display: flex;
  background-color: #252526;
}

.tabs-container > .tab {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 10px;
  border-left: 1px solid #252526;
  cursor: pointer;
  background-color: #2d2d2d;
  height: 35px;
  line-height: 35px;
  width: 100px;
  min-width: fit-content;
}

.tabs-container > .tab.active {
  background-color: #1e1e1e;
}

.tabs-container > .tab.active > .tab-label {
  color: white;
}

.tabs-container > .tab > .tab-label {
  flex: 1;
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  color: #969696;
}

.tabs-container > .tab > .tab-close {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  width: 28px;
}

.tabs-container > .tab > .tab-close > .icon-container {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0 auto;
}

.tabs-container > .tab > .tab-close > .icon-container > .close-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-position: 50%;
  margin-right: 0.5em;
}

.tabs-container > .tab:hover:not(.loading) > .tab-close > .icon-container > .close-icon,
.tabs-container > .tab.active:not(.loading) > .tab-close > .icon-container > .close-icon {
  background: url('./media/close.svg') center center no-repeat;
}

.tabs-container > .tab.loading > .tab-close > .icon-container > .close-icon,
.tabs-container > .tab.loading > .tab-close > .icon-container > .close-icon:after {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.tabs-container > .tab.loading > .tab-close > .icon-container > .close-icon {
  margin: 5px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(255, 255, 255, 0.2);
  border-right: 0.3em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.3em solid rgba(255, 255, 255, 0.2);
  border-left: 0.3em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader 1.1s infinite linear;
  animation: loader 1.1s infinite linear;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tree {
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  background-color: #333333;
  color: #cccccc;
}

.tree.highlight {
  background-color: #252526;
  color: #4d4d4d;
}

.tree .scrollable-element {
  height: 100%;
}

.tree .tree-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.tree .tree-rows {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tree .tree-rows > .tree-row {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  touch-action: none;
  box-sizing: border-box;
}

.tree .tree-rows > .tree-row:hover {
  background-color: #2a2d2e;
}

.tree .tree-rows > .tree-row.selected {
  background-color: #094771;
}

.tree .tree-rows > .tree-row.focused:not(.selected) {
  background-color: #062f4a;
}

.tree.highlight .tree-rows > .tree-row.selected {
  background-color: #252526;
}

.tree .tree-rows > .tree-row.has-children > .content:before {
  display: inline-block;
  background-image: url('./media/collapsed.svg');
}

.tree .tree-rows > .tree-row.has-children.expanded > .content:before {
  display: inline-block;
  background-image: url('./media/expanded.svg');
}

.tree .tree-rows > .tree-row > .content:before {
  background-size: 16px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-right: 6px;
  width: 16px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  content: ' ';
}

.tree .tree-rows > .tree-row > .content {
  height: 100%;
  position: relative;
  display: flex;
}

.tree .tree-rows > .tree-row > .content > .label {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tree .tree-rows > .tree-row > .content > .label > .label-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 22px;
  line-height: 22px;
}

.tree .tree-rows > .tree-row > .content > .label:before {
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  padding-right: 6px;
  width: 16px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
}

.tree .tree-rows > .tree-row > .content > .label:after {
  opacity: 0.75;
  padding: 0 12px 0 5px;
  margin-left: auto;
}

.tree .tree-rows > .tree-row > .content > .label > input {
  outline: 0;
  border: 0;
  background-color: #3c3c3c;
  color: #969696;
  padding: 2px 0;
  width: 100%;
}
